---

---

<footer>
    <nav>
        <ul>
            <li><a href="/">トップ</a></li>
            <li><a href="/banner">バナー</a></li>
        </ul>
    </nav>
    <span>
        Issue, PRを歓迎します。
        <a href="https://github.com/8128-33550336/tftf"
            >GitHub: 8128-33550336/tftf</a
        >
    </span>
</footer>

<style>
    footer {
        margin-top: 100px;
        border-top: solid 1px #888;
        padding: 20px 50px;
    }

    footer nav ul {
        display: flex;
    }
    footer nav ul li {
        list-style: none;
        display: block;
        margin: 0 30px;
    }
</style>
